.sidebar{
  position: absolute;
  width: 60vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.952);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: black; font-size: 3rem; font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.sidebar.closed {
  transform: translateX(-400px);
  background:transparent;
}
.sidebar.open{
  background-color: yellowgreen;
}
